doctype html

html
  h1 Pug Templating Source Code
  br
  body
    p.
      this is a multi line paragraph
      tag in pug, because it has a .(dot)
      at the end. To write single line
      text just remove .(dot)
    ul
      li item 1
      li item 2
    h1#title This h1 has a class
    h2.title2 This h2 also has a class
    .container
      p.
        This makes a div element with a
        class name of container
      input(type = "gmail" name = "input")
      br
      p adding js expresions
      br
      input(type = "username" name = "input2" data-js = `${5 > 10 ? "Correct" : "Incorrect"}`)
      br
